*      {
            margin: 0;
            padding: 0;
            color: white;
            list-style: none;
            text-decoration: none;
        }
        body{
            background-image: url('image.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
