.topbar{
            position: fixed;
            top: 0;
            height: 64px;
            background-color: rgba(6, 83, 57, 0.686); 
            width: calc(100% - 250px);
        }
.user-menu, .user-menu > img, .user-menu > span{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.user-menu{
    right: 20px;
    height: 60px;
    cursor: pointer;
    width: 150px;
}
.user-menu>span{
    left: 40px;
}
.user-menu-box{
    position: absolute;
    top: 60px;
    background-color: rgb(2, 68, 3);
    min-width: 150px;
    padding: 5px;
    border-radius: 10px;
    right: -250px;
}
.user-menu-box a{
    display: block;
    padding: 10px 20px;
    border-radius: 10px;
}
.user-menu-box a:hover{
    background-color: rgb(6, 87, 60);
}
.user-menu:hover > .user-menu-box{
    right: 0;
}